<!-- <div class="showMsgerr" style="background: #f44336; height: 50px; width: 300px; display: none; padding-top: 10px; border-radius: 7px; position: fixed; top: 70px; left: 76%; color: #fff; text-align: center;">
</div>
<div class="showMsgsuccess" style="background: #4caf50; height: 40px; width: 250px; display: none; padding-top: 10px; border-radius: 7px; position: fixed; top: 70px; left: 76%; color: #fff; text-align: center;">
</div> -->
<style>
  .showMsgerr{
    display: none; 
    position: fixed; 
    top: 70px;
    left: 73%;
  }
  .showMsgsuccess{
    display: none; 
    position: fixed; 
    top: 70px;
    left: 73%;
  }
</style>
<div class='alert alert-danger alert-dismissible showMsgerr'>
  <h4><i class='icon fa fa-warning'></i> Error!</h4>
  <span></span>
</div>
<div class='alert alert-success alert-dismissible showMsgsuccess'>
  <!-- <button type='button' class='close' aria-hidden='true'>&times;</button> -->
  <h4><i class='icon fa fa-check'></i> Success!</h4>
  <span>mbgjjv hbkbjj hjb njbhjbhulkjnknjn;kjnuiygynhjjhbhb</span>
</div>
